# Lingkungan virtual Python
.venv/
env/
venv/

# File cache Python
__pycache__/
*.py[cod]
*$py.class

# IDE & Editor (Pengaturan lokal)
.vscode/

# KONFIGURASI SANGAT RAHASIA (WAJIB DIABAIKAN!)
.env

# Database (Mengabaikan data lokal)
*.sqlite3
*.db
instance/

# Abaikan file data pasien/laporan Excel agar tidak bocor ke publik
*.xlsx
