@import "tailwindcss";
@source "./templates";

/* Di sinilah kita menaruh warna khusus untuk Tailwind v4 */
@theme {
  --font-sans: "Inter", sans-serif;
  --color-puskesmas-light: #14b8a6;
  --color-puskesmas: #0d9488;
  --color-puskesmas-dark: #0f766e;
}